title: JMA Blog
description: A modern Jekyll blog
url: https://joealfa.github.io/
baseurl: "/blog"
author: joey

# Plugins
plugins:
  - jekyll-feed

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
permalink: /:year/:month/:day/:title/

# Collections
collections:
  posts:
    output: true

# Exclude files
exclude:
  - Gemfile
  - Gemfile.lock

highlighter: none